.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Shared styles */
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}
.btn-primary {
  border: none;
  background-color: #fd6e0a;
  font-weight: 700;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
}

.section-title {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
}

.section-description {
  font-size: 1rem;
  color: #757575;
  text-align: justify;
}

.secondary-bg {
  background-color: #fff8f3;
}

.text-center {
  text-align: center;
}
/* header */
.header {
  background-image: url("../assets/developer.png"),
    url("../assets/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
}
/* Nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav ul li a {
  text-decoration: none;
}

/* Banner Styles */
.banner {
  display: flex;
  justify-content: space-between;
}
.banner-content {
  max-width: 580px;
  margin: 0 35px 0 230px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
}

.banner-profile-pic {
  width: 580px;
}

/* Main Styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
/* About Styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-items {
  display: flex;
  justify-content: space-around;
}

.item-description {
  font-weight: 700;
}

/* Skills section styles */
.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}
.skills-container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
/* Resume section */

.resume-container{
  display: flex;
  align-items: center;
  gap: 24px;
}

.experience-sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.cv {
  margin-top: 50px;
}

/* Footer */

footer {
  display: flex;
  padding: 130px 230px;
  gap: 100px;
}

.footer-column {
  width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
  height: 64px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  display: block;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}

